# BirdVision

## Dataset outline

Bird species dataset from Kaggle https://www.kaggle.com/datasets/gpiosenka/100-bird-species/data?select=birds.csv

Key points about the dataset:

- 224 X 224 X 3 px (RGB) in jpg format
- Data set includes a train set, validation set and test set. 
- Each set contains 525 sub directories, one for each bird species. 
- The `filepaths` column contains the relative file path to an image file. 
- The labels column contains the bird species class name associated with the image file. 
- The scientific label column contains the *latin* scientific name for the species. 
- The data set column denotes which dataset (train, test or valid) the filepath resides in. 
- The class_id column contains the class index value associated with the image file's class.

## `birds.csv` exploration

The dataset also includes a file named birds.csv which contains 5 columns: `class id`, `filepaths`, `labels`, `data set`, `scientific name` 

1. Inspect the dataset 
2. Create a new dataframe with the distinct bird species

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('birds.csv')
df.head(5)

,class id,filepaths,labels,data set,scientific name
0,0.0,train/ABBOTTS BABBLER/001.jpg,ABBOTTS BABBLER,train,MALACOCINCLA ABBOTTI
1,0.0,train/ABBOTTS BABBLER/007.jpg,ABBOTTS BABBLER,train,MALACOCINCLA ABBOTTI
2,0.0,train/ABBOTTS BABBLER/008.jpg,ABBOTTS BABBLER,train,MALACOCINCLA ABBOTTI
3,0.0,train/ABBOTTS BABBLER/009.jpg,ABBOTTS BABBLER,train,MALACOCINCLA ABBOTTI
4,0.0,train/ABBOTTS BABBLER/002.jpg,ABBOTTS BABBLER,train,MALACOCINCLA ABBOTTI

In [3]:
df['data set'].value_counts()

train    84635
test      2625
valid     2625
Name: data set, dtype: int64

In [4]:
train = df[df['data set'].isin(['train'])]
val = df[df['data set'].isin(['valid'])]
test = df[df['data set'].isin(['test'])]

# unique species in train set
print(f"Unique species in train set:", len(train['scientific name'].unique()))

# unique species in validate set
print(f"Unique species in validate set:", len(val['scientific name'].unique()))

# unique species in test set
print(f"Unique species in test set:", len(test['scientific name'].unique()))

Unique species in train set: 522
Unique species in validate set: 522
Unique species in test set: 522

In [5]:
species_array = test['scientific name'].unique()
species_array

array(['MALACOCINCLA ABBOTTI', 'PAPASULA ABBOTTI', 'BUCORVUS ABYSSINICUS',
       'BALEARICA REGULORUM', 'CHRYSOCOCCYX CUPREUS',
       'LAGONOSTICTA RUBRICATA', 'HAEMATOPUS MOQUINI', 'TOCKUS FASCIATUS',
       'NETTAPUS AURITUS', 'DIOMEDEIDAE', 'PIPILO ABERTI',
       'PSITTACULA EUPATRIA', 'PYRRHOCORAX GRACULUS',
       'GEOTHLYPIS FLAVOVELATA', 'BOTAURUS LENTIGINOSUS',
       'FULICA AMERICANA', 'PHOENICOPTERUS RUBER', 'SPINUS TRISTIS',
       'FALCO SPARVERIUS', 'ANTHUS RUBESCENS', 'SETOPHAGA RUTICILLA',
       'TURDUS MIGRATORIUS', 'MARECA AMERICANA', 'CALLIPHLOX AMETHYSTINA',
       'CHLOEPHAGA MELANOPTERA', 'VANELLUS RESPLENDENS',
       'SPINUS SPINESCENS', 'ANHINGA ANHINGA', 'MAGUMMA PARVA',
       'CALYPTE ANNA', 'THAMNOPHILIDAE', 'EUPHONIA MUSICA',
       'HIMATIONE SANGUINEA', 'STRUTHIDEA CINEREA',
       'ANTILOPHIA BOKERMANNI', 'OCEANODROMA HOMOCHROA',
       'GEOKICHLA CINEREA', 'NIPPONIA NIPPON', 'EURYSTOMUS ORIENTALIS',
       'MEROPS ORIENTALIS', 'ANASTOMUS OSCITANS', 'LEUCOCARBO COLENSOI',
       'ASTHENES ANTHOIDES', 'SPHECOTHERES VIEILLOTI',
       'AMANDAVA AMANDAVA', 'SYNALLAXIS AZARAE', 'PITTA STEERII',
       'CYANOCORAX CAERULEUS', 'THRAUPIS CYANOPTERA', 'CYANISTES CYANUS',
       'ANAS FORMOSA', 'HALIAEETUS LEUCOCEPHALUS', 'GERONTICUS EREMITA',
       'LEUCOPSAR ROTHSCHILDI', 'ICTERUS GALBULA', 'COEREBA FLAVEOLA',
       'PENELOPE ARGYROTIS', 'EURYLAIMUS JAVANICUS', 'HYDRORNIS GUAJANA',
       'CLADORHYNCHUS LEUCOCEPHALUS', 'LIMOSA LAPPONICA', 'TYTO ALBA',
       'HIRUNDO RUSTICA', 'NYSTALUS RADIATUS', 'BUCEPHALA ISLANDICA',
       'SETOPHAGA CASTANEA', 'LYBIUS DUBIUS', 'PROCNIAS AVERANO',
       'PANURUS BIARMICUS', 'MEGACERYLE ALCYON', 'STRELITZIA',
       'EURYLAIMUS OCHROMALUS', 'AVICEDA LEUPHOTES',
       'CALYPTORHYNCHUS LATIROSTRIS', 'PLATALEA MINOR',
       'FRANCOLINUS FRANCOLINUS', 'PIONITES MELANOCEPHALUS',
       'HIMANTOPUS MEXICANUS', 'RYNCHOPS NIGER', 'CYGNUS ATRATUS',
       'AMAURORNIS BICOLOR', 'AEGITHALOS CONCINNUS',
       'PTEROPTOCHOS TARNII', 'SETOPHAGA CAERULESCENS',
       'PUFFINUS OPISTHOMELA', 'CORAGYPS ATRATUS', 'POECILE ATRICAPILLUS',
       'PODICEPS NIGRICOLLIS', 'AMPHISPIZA BILINEATA', 'SETOPHAGA FUSCA',
       'CELEUS FLAVESCENS', 'ITHAGINIS CRUENTUS', 'COUA CAERULEA',
       'DACNIS CAYANA', 'POLIOPTILA CAERULEA', 'PASSERINA CAERULEA',
       'DENDRAGAPUS OBSCURUS', 'ARDEA HERODIAS', 'CEUTHMOCHARES AEREUS',
       'AULACORHYNCHUS CAERULEOGULARIS', 'DOLICHONYX ORYZIVORUS',
       'PITYRIASIS GYMNOCEPHALA', 'CHLOROPSIS KINABALUENSIS',
       'POLYPLECTRON SCHLEIERMACHERI', 'PHALACROCORAX PENICILLATUS',
       'EUPHAGUS CYANOCEPHALUS', 'CERTHIA AMERICANA', 'MOLOTHRUS ATER',
       'ANOUS STOLIDUS', 'TOXOSTOMA RUFUM', 'BUCEPHALA ALBEOLA',
       'LOPHURA BULWERI', 'CURSORIUS RUFUS', 'ALECTURA LATHAMI',
       'PSEUDOSEISURA CRISTAT', 'TRAGOPAN CABOTI',
       'CAMPYLORHYNCHUS BRUNNEICAPILLUS', 'GYMNOGYPS CALIFORNIANUS',
       'LARUS CALIFORNICUS', 'CALLIPEPLA CALIFORNICA',
       'COLAPTES CAMPESTRIS', 'SERINUS CANARIA DOMESTICA',
       'AYTHYA VALISINERIA', 'LAMPROTORNIS NITENS', 'MACRONYX CAPENSIS',
       'SETOPHAGA TIGRINA', 'MONTICOLA RUPESTRIS', 'PILHERODIUS PILEATUS',
       'PERISSOCEPHALUS TRICOLOR', 'MEROPS NUBICOIDES',
       'HYDROPROGNE CASPIA', 'CASUARIUS', 'BOMBYCILLA CEDRORUM',
       'SETOPHAGA CERULEA', 'CYANOLYCA ARMILLATA', 'LORIUS GARRULUS',
       'EUPHONIA PECTORALIS', ' CLAMATOR COROMANDUS',
       'BAMBUSICOLA THORACICUS', 'ARDEOLA BACCHUS', 'SPIZELLA PASSERINA',
       'SCELORCHILUS RUBECULA', 'ALECTORIS CHUKAR', 'ATTILA CINNAMOMEUS',
       'PYRRHOMYIAS CINNAMOMEUS', 'ANAS CYANOPTERA',
       'AECHMOPHORUS CLARKII', 'NUCIFRAGA COLUMBIANA', 'RUPICOLA',
       'CACATUIDAE', 'PTEROGLOSSUS TORQUATUS', 'MELANOPAREIA TORQUATA',
       'REGULUS IGNICAPILLA', 'QUISCALUS QUISCULA', 'DELICHON URBICUM',
       'AEGITHINA TIPHIA', 'GAVIA IMMER', 'PHALAENOPTILUS NUTTALLII',
       'STURNUS VULGARIS', 'MEGALAIMA HAEMACEPHALA',
       'CENTROPUS CUPREICAUDUS', 'DROMAS ARDEOLA',
       'GERANOSPIZA CAERULESCENS', 'CELEUS FLAVUS', 'AETHIA CRISTATELLA',
       'CARACARA CHERIWAY', 'COUA CRISTATA', 'LOPHURA IGNITA',
       'MEGACERYLE LUGUBRIS', 'SITTA CAROLINENSIS',
       'PSAROCOLIUS DECUMANUS', 'SPILORNIS CHEELA',
       'FALCUNCULUS FRONTATUS', 'ROLLULUS ROULOUL', 'EPTHIANURA TRICOLOR',
       'AETHOPYGA SIPARAJA', 'CORVUS', 'TODUS MULTICOLOR',
       'PRIOTELUS TEMNURUS', 'PTEROGLOSSUS BEAUHARNAESII',
       'TRACHYPHONUS DARNAUDII', 'PELECANUS CRISPUS',
       'DENDROCOPOS DARJELLENSIS', 'JUNCO HYEMALIS',
       'PHOENICURUS AUROREUS', 'GRUS VIRGO', 'TAENIOPYGIA BICHENOVII',
       'PHALACROCORAX AURITUS', 'CYCLOPSITTA DIOPHTHALMA',
       'PICOIDES PUBESCENS', 'PSEUDEOS FUSCATA', 'MELANODRYAS VITTATA',
       'HYDRORNIS PHAYREI', 'SIALIA SIALIS', 'NORTHIELLA HAEMATOGASTER',
       'PLOCEUS SUBAUREUS', 'STURNELLA MAGNA', 'PLATYCERCUS EXIMIUS',
       'PIPILO ERYTHROPHTHALMUS', 'ANTROSTOMUS VOCIFERUS',
       'EOPSALTRIA AUSTRALIS', 'OREOTROCHILUS CHIMBORAZO',
       'ALOPOCHEN AEGYPTIACA', 'TROGON ELEGANS', 'SYRMATICUS ELLIOTI',
       'TANGARA FLORIDA', 'APTENODYTES FORSTERI',
       'DROMAIUS NOVAEHOLLANDIAE', 'GRACULA ENGANENSIS',
       'PYRRHULA PYRRHULA', 'ORIOLUS ORIOLUS', 'PICA PICA',
       'CARDUELIS CARDUELIS', 'STREPTOPELIA TURTUR',
       'COCCOTHRAUSTES VESPERTINUS', 'IRENA', 'EUDYPTULA MINOR',
       'STERNULA NEREIS', 'EUPLECTES AXILLARIS',
       'CAMPYLORHYNCHUS FASCIATUS', 'PERICROCOTUS IGNEUS',
       'EUDYPTES PACHYRHYNCHUS', 'MYZORNIS PYRRHOURA', 'SERICULUS ARDENS',
       'PIRANGA BIDENTATA', 'DENDRONANTHUS INDICUS', 'FREGATIDAE',
       'COLUMBA LIVIA DOMESTICA', 'CALLIPEPLA GAMBELII',
       'CALLOCEPHALON FIMBRIATUM', 'MELANERPES UROPYGIALIS',
       'COLAPTES AURATUS', 'PLEGADIS FALCINELLUS',
       'CORYTHAIXOIDES CONCOLOR', 'VERMIVORA CHRYSOPTERA',
       'PRIONODURA NEWTONIANA', 'SETOPHAGA CHRYSOPARIA',
       'CHLOROPHONIA CALLOPHRYS', 'AQUILA CHRYSAETOS', 'GUARUBA GUAROUBA',
       'CHRYSOLOPHUS PICTUS', 'TMETOTHYLACUS TENELLUS',
       'ERYTHRURA GOULDIAE', 'GRANDALA COELICOLOR',
       'DUMETELLA CAROLINENSIS', 'TYRANNUS DOMINICENSIS', 'PERDIX PERDIX',
       'ARGUSIANUS ARGU', 'STRIX NEBULOSA', 'JACAMEROPS AUREUS',
       'PITANGUS SULPHURATUS', 'NYCTIBIUS GRANDIS', 'TINAMUS MAJOR',
       'MEGAXENOPS PARNAGUAE', 'CONTOPUS PERTINAX', 'TYMPANUCHUS CUPIDO',
       'CENTROCERCUS UROPHASIANUS', 'CALYPTOMENA VIRIDIS',
       'CYANOCORAX YNCAS', 'CISSA CHINENSIS', 'CHALCOPHAPS INDICA',
       'CORACINA CAESIA', 'ICHTHYOPHAGA ICHTHYAETUS',
       'PLUVIALIS SQUATAROLA', 'CROTOPHAGA SULCIROSTRIS', 'TAURACO PERSA',
       'NUMIDIDAE', 'HYDRORNIS GURNEYI', 'FALCO RUSTICOLUS',
       'SCOPUS UMBRETTA', 'HISTRIONICUS HISTRIONICUS',
       'COTURNIX DELEGORGUEI', 'HARPIA HARPYJA', 'BRANTA SANDVICENSIS',
       'COCCOTHRAUSTES COCCOTHRAUSTES', 'EURYCEROS PREVOSTII',
       'PIRANGA FLAVA', 'TARSIGER RUFILATUS', 'LOPHOPHORUS IMPEJANUS',
       'OPHISTHOCOMUS HOAZIN', 'LOPHODYTES CUCULLATUS', 'UPUPIDAE',
       'OREOPHASIS DERBIANUS', 'EREMOPHILA ALPESTRIS',
       'HELIACTIN BILOPHUS', 'HAEMORHOUS MEXICANUS', 'PASSER DOMESTICUS',
       'ANODORHYNCHUS HYACINTHINUS', 'CYANOPICA COOKI',
       'IBIDORHYNCHA STRUTHERSII', 'LEUCOCARBO ATRICEPS',
       'LAROSTERNA INCA', 'ARDEOTIS NIGRICEPS', 'PITTA BRACHYURA',
       'CORACIAS BENGHALENSIS', 'GYPS INDICUS', 'PASSERINA CYANEA',
       'EUMYIAS INDIGO', 'CHARADRIUS AUSTRALIS', 'PTEROGLOSSUS AZARA',
       'PAGOPHILA EBURNEA', ' VESTIARIA COCCINEA.', 'JABIRU MYCTERIA',
       'LYMNOCRYPTES MINIMUS', 'COLUMBA LIVIA', 'ARATINGA JANDAYA',
       'ERITHACUS AKAHIGE', 'LONCHURA ORYZIVORA', 'GRALLARIA RIDGELYI',
       'RHYNOCHETOS JUBATUS', 'STRIGOPS HABROPTILUS',
       'CHARADRIUS VOCIFERUS', 'SOMATERIA SPECTABILIS',
       'SARCORAMPHUS PAPA', 'APTERYX', 'DACELO',
       'CALAMOSPIZA MELANOCORYS', 'LEUCOPHAEUS ATRICILLA',
       'PASSERINA AMOENA', 'LEPTOPTILOS JAVANICUS', 'CORACIAS CAUDATUS',
       'ARAMUS GUARAUNA', 'ALLE ALLE', 'LANIUS LUDOVICIANUS', 'ASIO OTUS',
       'LUNATICUS AMERICONIS', 'CALOTHORAX LUCIFER',
       'ANSERANAS SEMIPALMATA', 'OCYCEROS GRISEUS',
       'CORYTHORNIS CRISTATUS', 'ZOSTEROPS MADERASPATANUS',
       'MACROCEPHALON MALEO', 'ANAS PLATYRHYNCHOS', 'AIX GALERICULATA',
       'COCCYZUS MINOR', 'LEPTOPTILOS CRUMENIFER',
       'COLINUS VIRGINIANUS RIDGWAYI', 'SULA DACTYLATRA',
       'VANELLUS MILES', 'PLECTROPHENAX HYPERBOREUS', 'FALCO COLUMBARIUS',
       'SYRMATICUS MIKADO', 'ARA MILITARIS', 'ZENAIDA MACROURA',
       'ACRIDOTHERES TRISTIS', 'CALOENAS NICOBARICA',
       'PHILEMON CORNICULATUS', 'CAMPTOSTOMA IMBERBE',
       'CARDINALIS CARDINALIS', 'FULMARUS GLACIALIS', 'MORUS BASSANUS',
       'ACCIPITER GENTILIS', 'JACANA SPINOSA', 'MIMUS POLYGLOTTOS',
       'SETOPHAGA AMERICANA', 'EUPLECTES FRANCISCANUS',
       'SPATULA CLYPEATA', 'MELEAGRIS OCELLATA', 'GALLIRALLUS OKINAWAE',
       'HARPACTES ORESKIOS', 'PASSERINA LECLANCHERII', 'PHODILUS BADIUS',
       'SPIZAETUS ORNATUS', 'PANDION HALIAETUS', 'STRUTHIO CAMELUS',
       'SEIURUS AUROCAPILLA', 'HAEMATOPUS', 'PASSERINA CIRIS',
       'LOXIOIDES BAILLEUI', 'GYPOHIERAX ANGOLENSIS', 'TANGARA CHILENSIS',
       'AETHIA PSITTACULA', 'PARUS MAJOR', 'PHRYGILUS PATAGONICUS',
       'PAVO CRISTATUS', 'FALCO PEREGRINUS', 'PHAINOPEPLA NITENS',
       'PITHECOPHAGA JEFFERYI', 'PETROICA RODINOGASTER',
       'CYANOCORAX CHRYSOPS', 'STERCORARIUS POMARINUS', 'FRATERCULA',
       'ANAS PUNA', 'HAEMORHOUS PURPUREUS', 'PORPHYRIO MARTINICUS',
       'PROGNE SUBIS', 'PORPHYRIO PORPHYRIO', 'ISPIDINA PICTA',
       'CARDINALIS SINUATUS', 'PHAROMACHRUS MOCINNO',
       'TRICHOGLOSSUS MOLUCCANUS', 'ALCA TORDA', 'NYCTYORNIS AMICTUS',
       'PITTA ERYTHROGASTER', 'PHAETHON AETHEREU', 'NEOCHMIA TEMPORALIS',
       'PHALACROCORAX URILE', 'CARDELLINA RUBRIFRONS',
       'FOUDIA MADAGASCARIENSIS', 'AYTHYA AMERICANA',
       'MELANERPES ERYTHROCEPHALUS', 'CALIDRIS CANUTUS',
       'CYANERPES CYANEUS', 'HARPACTES KASUMBA', 'BUTEO LINEATUS',
       'BUTEO JAMAICENSIS', 'NEOCOSSYPHUS RUFUS', 'AGELAIUS PHOENICEUS',
       'PYCNONOTUS JOCOSUS', 'SERICULUS CHRYSOCEPHALUS',
       'PHASIANUS COLCHICUS', 'GEOCOCCYX', 'EOLOPHUS ROSEICAPILLA',
       'PHEUCTICUS LUDOVICIANUS', 'PLATALEA AJAJA',
       'AGAPORNIS ROSEICOLLIS', 'BUTEO LAGOPUS', 'ONYCHORHYNCHUS',
       'REGULUS CALENDULA', 'ARCHILOCHUS COLUBRIS', 'TADORNA FERRUGINEA',
       'HALCYON COROMANDA', 'CHLOROCERYLE INDA', 'DENDROCITTA VAGABUNDA',
       'BARYPHTHENGUS MARTII', 'MYOPHONUS CASTANEUS', 'RIPARIA RIPARIA',
       'GRUS CANADENSIS', 'TRAGOPAN SATYRA', 'SAYORNIS SAYA',
       'PTILINOPUS INSULARIS', 'LIOCICHLA RIPPONI', 'EUDOCIMUS RUBER',
       'ARA MACAO', 'PIRANGA OLIVACEA', 'BALAENICEPS REX',
       'LIMNODROMUS GRISEUS', 'CALCARIUS PICTUS', 'ANSER CAERULESCENS',
       'LERWA LERWA', 'EGRETTA THULA', 'BUBO SCANDIACUS',
       'CHARADRIUS NIVOSUS', 'PORZANA CAROLINA', 'COTINGA CAYANA',
       'MALURUS SPLENDENS', 'CALIDRIS PYGMAEA', 'AILUROEDUS MACULOSUS',
       'DENDROCYGNA GUTTATA', 'ARDEOLA RALLOIDES', 'UROCISSA ORNATA',
       'TACHYERES', 'PELARGOPSIS CAPENSIS', 'PHALCOBOENUS AUSTRALIS',
       'ASIO CLAMATOR', 'MACHAEROPTERUS REGULUS', 'CECROPIS ABYSSINICA',
       ' EURYPYGA HELIAS', 'LAMPROTORNIS SUPERBUS',
       'MELANITTA PERSPICILLATA', 'LOPHURA SWINHOII',
       'ORTHOTOMUS ATROGULARIS', 'UROCISSA CAERULEA',
       'PORPHYRIO HOCHSTETTERI', 'TRIBONYX MORTIERII',
       'PODARGUS STRIGOIDES', 'ANAS CRECCA', 'PARIDAE', 'RAMPHASTIDAE',
       'SETOPHAGA TOWNSENDI', 'TACHYCINETA BICOLOR', 'AGELAIUS TRICOLOR',
       'TYRANNUS MELANCHOLICUS', 'CYGNUS BUCCINATOR', 'CATHARTES AURA',
       'EUMOMOTA SUPERCILIOSA', 'CEPHALOPTERUS', 'IXOREUS NAEVIUS',
       'CATHARUS FUSCESCENS', 'ICTERUS ICTERUS', 'AURIPARUS FLAVICEPS',
       'PYROCEPHALUS OBSCURUS', 'GOURA VICTORIA',
       'CINNYRICINCLUS LEUCOGASTER', ' CHRYSOCOCCYX XANTHORHYNCHUS',
       'TACHYCINETA THALASSINA', 'MUSOPHAGA VIOLACEA',
       'PENELOPIDES PANINI', 'ACRYLLIUM VULTURINUM', 'TICHODROMA MURARIA',
       'CRAX GLOBULOSA', 'VANELLUS INDICUS', 'NUMENIUS PHAEOPUS',
       'AMAURORNIS PHOENICURUS', 'AMAURORNIS CINEREA', 'TAURACO LEUCOTIS',
       'TROPICRANUS ALBOCRISTATUS', 'BASILINNA LEUCOTIS',
       'CORVUS ALBICOLLIS', 'PHAETHON LEPTURUS', 'MEROPS ALBICOLLIS',
       'MELEAGRIS GALLOPAVO', 'LAGOPUS LAGOPUS', 'CICINNURUS RESPUBLICA',
       'AIX SPONSA', 'HYLOCICHLA MUSTELINA', 'HALCYON SENEGALENSIS',
       'CHAMAEA FASCIATA', 'DICAEUM MELANOXANTHUM', 'CACICUS CELA',
       'XANTHOCEPHALUS', 'GEOPELIA STRIATA', 'ICTERIA VIRENS',
       'LOXIA CURVIROSTRA', 'CINCLUS MEXICANUS', 'PIPILE CUMANENSIS',
       'STEATORNIS CARIPENSIS', 'CALIDRIS ALPINA', 'CHIONIS ALBUS',
       'SARKIDIORNIS MELANOTOS', 'ORTALIS CINEREICEPS',
       'NOTHARCHUS PECTORALIS'], dtype=object)

In [6]:
species = pd.DataFrame(species_array, columns=['species_name'])
species.tail()

               species_name
517         CALIDRIS ALPINA
518           CHIONIS ALBUS
519  SARKIDIORNIS MELANOTOS
520     ORTALIS CINEREICEPS
521   NOTHARCHUS PECTORALIS

In [7]:
# export the `species` dataframe to csv
species.to_csv('species_list.csv', index=False)

In [8]:
# open `species_list.csv` to check
bird_list = pd.read_csv('species_list.csv')
bird_list['species_name'].duplicated().sum() # no duplicates

0

### Species from dataframe that are either frequently seen, occasionally migrate through, or are rarer but can be spotted in various parts of Asia

- Merops orientalis (Little Green Bee-eater)
- Hirundo rustica (Barn Swallow)
- Sturnus vulgaris (Common Starling)
- Pica pica (Eurasian Magpie)
- Passer domesticus (House Sparrow)
- Columba livia (Rock Dove)
- Anas platyrhynchos (Mallard)
- Acridotheres tristis (Common Myna)
- Parus major (Great Tit)
- Aquila chrysaetos (Golden Eagle)
- Anas crecca (Common Teal)
- Falco peregrinus (Peregrine Falcon)
- Calidris alpina (Dunlin)

13 species in total

> need geographic distribution of each bird!!!

## Calling eBird API

In [9]:
# Practise calling public API for information on the species